{%extends "personal/Sample/header.html"%}
{% block content %}


		<div class="row w-100" style="padding: 50px 10px 10px 50px;" >
			<div class="row justify-content-around">
			<div class="col-4 " style="padding: 30px;">
				<h2>A samplle repository on design by Sesan Takuro</h2>
			</div>

			<div class="col-5" style="background-color: #FFBB00; border-radius: 6px; padding: 30px;">
				<p>For impeccable 5-star logo designs, music artworks, illustrations and various other forms of digital art, I've got you covered. I am an experienced graphics designer who uses professional thinking and extensive intuition to not only meet your design goals but to exceed them and leave my clients satisfied. All ideas are brought to life and designed to the slightest detail. I give all projects the right attention at affordable rates and I'm easy to work with. Make the right decision today. </p>
			</div>
		</div>
		</div>
		</div>
		<div class="container" style="margin: 11%; background-color:#003b46;">
			<div class="row" style="width: 120%">
				<img class = "img-fluid h-50  col-4  row justify-content-start" src="/static/images/locate.jpg" >
				<img class = "img-fluid h-50  col-4  row justify-content-start" src="/static/images/locate.jpg" >
				<img class = "img-fluid h-50  col-4  row justify-content-start" src="/static/images/locate.jpg" >
			</div>
			<div class="row">
				<img class = "img-fluid h-50  col-4 row justify-content-start" src="/static/images/locate.jpg" >
				<img class = "img-fluid h-50  col-4 row justify-content-start" src="/static/images/locate.jpg" >
				<img class = "img-fluid h-50  col-4 row justify-content-start" src="/static/images/locate.jpg" >
			</div>
			<div class="row">
				<img class = "img-fluid h-50  col-4  row justify-content-start" src="/static/images/locate.jpg" >
				<img class = "img-fluid h-50  col-4  row justify-content-start" src="/static/images/locate.jpg" >
				<img class = "img-fluid h-50  col-4  row justify-content-start" src="/static/images/locate.jpg" >
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-around">
				<div class="col-4">
				<h4>AVAILABILITY</h4>
				<p>KS Designs is currently open for commissions regarding Logo designs, Music Artworks And other art forms. <a href="">Contact us</a> for more details.</p>
			</div>

			<div class="col-4">
				<h3>CONNECT</h3>
				<img src="/static/images/locate.jpg" height="20px" width="20px"> <p>Lagos. Nigeria</p>
				<img src="/static/images/phone.jpg" height="20px" width="20px"> <p>+234 800 0000 000</p>
				<img src="/static/images/ail.png" height="20px" width="20px"> <p>thgvfcyt@gmail.com</p>

				<div class="social">
					<a href=""><img src="/static/images/instagram.jpg" height="40px" width="40px"></a>
					<a href=""><img src="/static/images/tweet.jpg" height="40px" width="40px"></a>
					<a href=""><img src="" height="40px" width="40px"></a>
				</div>
			</div>
		</div>
		</div>

		<footer>
			<p style="text-align: center; padding: 30px 20px 20px 20px;">&copy Copyright ks Designs 2018. All rights reserved</p>

		</footer>
	</div>
{% endblock %}	